body{
    /* background-color: red;
    background-image: url(./fondo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom left; */

    background: red url(./fondo.jpg) no-repeat fixed bottom left;
}